.login_title {
    width: 200px;
    height: 100px;
    font-size: 10px;
    margin: auto;
    background-image: url("https://t1.daumcdn.net/cfile/blog/1501874B4ECA18C720");
    background-size: cover;
    background-position: center;
    padding-top: 25px;
    text-align: center;
    font-family: 'Nanum Gothic', sans-serif;

}

.login_information {
    width: 300px;
    height: 100px;
    text-align: center;
    margin: auto auto;
    font-family: 'Nanum Gothic', sans-serif;

}
